<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    


<div class="  md:w-screen  md:my-8 px-10 mx-auto ">
  <div class="md:flex md:justify-center pb-10 py-10  ">
          <img src="about1.jpg"
              class="md:h-40 md:w-40 rounded-full object-cover"
              alt="username"/>
          <div class="ml-10">
              <div class="flex items-center">
                  <h2 class="block leading-relaxed font-light text-gray-700 font-medium text-3xl">VOodies</h2>
                  <a class="cursor-pointer hidden  h-7 px-3 ml-32 text-right outline-none border-transparent text-center rounded border bg-blue-500 hover:bg-blue-600 text-white  font-medium">Contact Us</a>
              </div>
              <div class="">
                  <h1 class="text-base font-bold font-light">How we are</h1>
                  <span class="text-base">We are three code students. We love it even when we don't know why!
                    This was the fruit of two hard weeks of complex work. A few headaches and joy for the work done.</span>   
                  </div>
                  <a class="md:hidden cursor-pointer  h-7 px-3  text-right outline-none border-transparent text-center rounded border bg-blue-500 hover:bg-blue-600 text-white  font-medium">Contact Us</a>
          </div>
  </div>

  <div class="border-b border-gray-300"></div>
  <article class="mt-5 grid grid-cols-3 gap-10">
      <div class="cursor-pointer relative" style="width:300px; height:300px">
          <img src="harmonia.jpg"
              class="foto w-full h-full object-cover rounded-3xl drop-shadow-xl"
              alt="Landscape" />
      </div>
      <div class="cursor-pointer relative" style="width:300px; height:300px">
          <img src="pc_code.jpg"
              class="foto w-full h-full object-cover drop-shadow-xl"
              alt="coding pc" />
      </div>
      <div class="cursor-pointer relative" style="width:300px; height:300px">
          <img src="https://images.pexels.com/photos/248771/pexels-photo-248771.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
              class="foto w-full h-full object-cover rounded-3xl drop-shadow-xl "
              alt="Beautiful village" />
      </div>
  </article>
  <div class="h-32 mt-32 text-center mx-auto">
   <h1 class=" drop-shadow-lg inline text-5xl  text-slate-700 font-mono">Thank you</h1>
   <svg class="w-10 h-10 inline -mt-20 stroke-teal-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path></svg>
 
  </div>
</div>

</body>
</html>